.skills-container{
  display:flex;
  flex-wrap: wrap;
  width:700px;
  gap: 30px;
}

.skill-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-item > img{
  height: 65px;
}